@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: "DynaPuff";
    background-color: #100F10;
    color: aliceblue;
}
header{
    margin-left: 20vw;
}
nav{
    position: fixed;
    border-right: 0.5px solid rgb(255,255,255,0.3);
    width: 20vw;
    height: 100vh;
    padding-top: 5vh;
}
nav li{
    padding-left: 10vh;
    margin-top: 50px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 14pt;
}
.logo{
    font-size: 15pt;
    margin-left: 10vh;
}
.main{
    display: flex;
}
.top-bar{
    width: 80vw;
    height: 15vh;
}
.search input{
    padding-left: 20px;
    margin-top: 4vh;
    margin-left: 16vh;
    background-color: #100F10;
    color: rgb(255,255,255,0.3);
    width: 25vw;
    height: 6vh;
    border: 0.3px solid rgb(255,255,255,0.3);
    border-radius: 10px;
}
::placeholder{
    color: rgb(255,255,255,0.3);
}

.slider{
    width: 800px;
    height: 450px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 800px;
    height: 100%;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
hr{
    color: rgb(255,255,255,0.3);
    margin-left: 30px;
    margin-right: 30px;
}
.panel{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
}
.item1{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    height: 70vh;
    width: 25%;
    background-color: #2A272A;
}
.item1 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 70%;
}
.panel div{
    cursor: pointer;
    transition: 0.1s ease-out;
}
.panel div:hover{
    transition: 0.1s ease-in;
    transform: scale(1.02);
}
.panel h4{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}